#!/usr/bin/make -f
%:
	dh $@

CFG_OPTS += $(if $(findstring nodoc,$(DEB_BUILD_OPTIONS)),\
              --disable-gtk-doc,\
              --enable-gtk-doc)

DEB_CFLAGS_MAINT_APPEND += -Wall -g
DEB_CFLAGS_MAINT_APPEND += $(if $(findstring noopt,$(DEB_BUILD_OPTIONS)),-O0,-O2)
DEB_LDFLAGS_MAINT_APPEND += -Wl,--as-needed

export DEB_CFLAGS_MAINT_APPEND
export DEB_LDFLAGS_MAINT_APPEND

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_configure:
	dh_auto_configure -- $(CFG_OPTS)

override_dh_makeshlibs:
	dh_makeshlibs -plibhildonfm2 -V"libhildonfm2 (>= 1:2.28+0m5)"

# dh_auto_test fails with qemu segfault when cross-compiling, disable it
override_dh_auto_test:
